/********************************** Layout **********************************/

body {
    background-color: #E9ECEF;
}

.jumbotron-text {
    text-align: center;
    background-color: #e6e8ee;
}

.index-section {
    text-align: center;
    margin-top: 0;
}

li>a:hover {
    color: #b3cfcf;
}

li>a:active {
    background-color: #b3cfcf;
}

.other-page-header {
    margin-top: 20px;
    color: purple;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.about-us-container {
    margin: 20px 40px;
    text-align: start;
}

h2 {
    color: rgb(17, 146, 146);
}

img {
    height: 250px;
}

.card-p {
    color: rgba(168, 28, 145, 0.986);
    font-weight: 600;
    font-size: large;
}

.card-style {
    width: 19rem;
    height: 27rem;
}

.col-margin {
    margin: 15px 0;
}

.price {
    padding: 1px 5px;
    margin-top: 20px;
}